.App {
  text-align: center;
}

body {
  background-image: url("./Images/piano-bakground-music-2.jpg");
  -webkit-background-size: cover;
}

.Ondine-backgroung {
  /* background-image: url("./Images/Ondine.png");
  background-size: contain; */
  /* padding-right: 12px; */
  /* -webkit-background-size: 900px, 850px; */
  background-image: url("./Images/Ondine.png"), url("./Images/Ondine.png");
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  font-weight: bold;
  color: black;
}
.p-review {
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  color: black;
}
.Text-right {
  text-align: right;
}

.Front-image {
  z-index: 1;
  position: relative;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
